{% load static %}
<html>

<head>
    <link href="{% static 'accounts/templatemo_style.css' %}" rel="stylesheet" type="text/css" />



</head>

<body>
    <svg height="130" width="500">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(7,13,96);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(40,149,211);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
  <text fill="orange" font-size="45" font-family="Verdana" 
  x="50" y="86">BookManiac!!</text>
</svg>
    <br>
    <br>

    <div class="topnav">

        <p><b><i>Category:Action & Adventure</b></i>
        </p>

        <!--<a href="1.html" style="float:right;"><u>Back home</u></a>-->
        <a href="{% url 'cart' %}" style="float:right;"><u>Cart</u></a>
    </div>



    <div id="templatemo_content_right">
        <div class="cleaner_with_width">&nbsp;</div>

        <div class="cleaner_with_height">&nbsp;</div>



        <div class="templatemo_product_box">
            <h1 class="hh1">The Maze Runner</h1>
            <img id="z" src="{% static 'accounts/a1.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By James Dashner <br>language:English</p>
                <h3>Price:Rs 395</h3>
                <div class="cart" style="display:inline; font-size: 15px;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Immortals of the Meluha</h1>
            <img id="z" src="{% static 'accounts/a2.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Amish Tripathi<br>language:English</p>
                <h3>Price:Rs 2076</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Divergent</h1>
            <img id="z" src="{% static 'accounts/a3.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Veronica Roth<br>language: English</p>
                <h3>Price:Rs 399</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">Life of Pi</h1>
            <img id="z" src="{% static 'accounts/a4.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Yann Martel<br>language: English</p>
                <h3>Price:Rs 335 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Harry Potter</h1>
            <img id="z" src="{% static 'accounts/a5.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By J.K Rowling<br>language: English</p>
                <h3>Price:Rs 699 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Secrets of the Nagas</h1>
            <img id="z" src="{% static 'accounts/a6.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Amish Tripathi<br>language: English</p>
                <h3>Price:Rs 193 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">The Hunger Games</h1>
            <img id="z" src="{% static 'accounts/a7.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Suzanne Collins<br>language: English</p>
                <h3>Price:Rs 857 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">A Game of Thrones</h1>
            <img id="z" src="{% static 'accounts/a8.jpg' %}" alt="image" />
            <div class="product_info">
                <p>George R.R Martin<br>language: English</p>
                <h3>Price:Rs 414 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Avenger</h1>
            <img id="z" src="{% static 'accounts/a9.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Frederick forsyth<br>language: English</p>
                <h3>Price:Rs 237 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">Himalayan Blunder </h1>
            <img id="z" src="{% static 'accounts/a10.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By J.P Dalvi<br>language: English</p>
                <h3>Price:Rs 446 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Jurassic Park</h1>
            <img id="z" src="{% static 'accounts/a11.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Micheal Crichton<br>language: English</p>
                <h3>Price:Rs 398 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Looking for Alaska</h1>
            <img id="z" src="{% static 'accounts/a12.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By John Green<br>language: English</p>
                <h3>Price:Rs 350 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Great Escape</h1>
            <img id="z" src="{% static 'accounts/a13.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Paul Brickhill<br>language: English</p>
                <h3>Price:Rs 586 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Dark of the Sun</h1>
            <img id="z" src="{% static 'accounts/a14.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Wilbur Smith <br>language: English</p>
                <h3>Price:Rs 284 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">A Journey to Center of the Earth</h1>
            <img id="z" src="{% static 'accounts/a15.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Jules Verne<br>language: English</p>
                <h3>Price:Rs 125 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Avarana</h1>
            <img id="z" src="{% static 'accounts/a16.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By S.L Bhyrappa<br>language: Kannada</p>
                <h3>Price:Rs 338 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Jungle</h1>
            <img id="z" src="{% static 'accounts/a17.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Clive Cussler & Jack Du Brul<br>language: English</p>
                <h3>Price:Rs 330 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Temple</h1>
            <img id="z" src="{% static 'accounts/a18.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Matthew Reilly <br>language: English</p>
                <h3>Price:Rs 360 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Room on the roof</h1>
            <img id="z" src="{% static 'accounts/a19.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Ruskin Bond<br>language: English</p>
                <h3>Price:Rs 224 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Jungle Book</h1>
            <img id="z" src="{% static 'accounts/a20.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Rudyard Kipling<br>language: English</p>
                <h3>Price:Rs 998 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

    </div>
    <script src="{% static 'jslink.js' %}">
    </script>
</body>

</html>