 {% load static %}
<html>

<head>
    <link href="{% static 'accounts/templatemo_style.css'%}" rel="stylesheet" type="text/css" />

    <script src="{% static 'accounts/jslink.js' %}">
    </script>
</head>

<body>
    <svg height="130" width="500">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(7,13,96);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(40,149,211);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
  <text fill="orange" font-size="45" font-family="Verdana" 
  x="50" y="86">BookManiac!!</text>
</svg>
    <br>
    <br>

    <div class="topnav">

        <p><b><i>Category:Education</b></i>
        </p>

        <a href="1.html" style="float:right;"><u>Back home</u></a>
        <a href="{% url 'cart' %}" style="float:right;"><u>Cart</u></a>
    </div>



    <div id="templatemo_content_right">
        <div class="cleaner_with_width">&nbsp;</div>

        <div class="cleaner_with_height">&nbsp;</div>



        <div class="templatemo_product_box">
            <h1 class="hh1">Official Knowledge</h1>
            <img src="{% static 'accounts/e1.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Michael W Apple <br>language:English</p>
                <h3>Price:Rs 1400</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The End of College</h1>
            <img src="{% static 'accounts/e2.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Kevin Carey<br>language:English</p>
                <h3>Price:Rs 770</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Giving Teaching Back to teachers</h1>
            <img src="{% static 'accounts/e3.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Robin Barrow<br>language: English</p>
                <h3>Price:Rs 754</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">Learning Beyond the classroom</h1>
            <img src="{% static 'accounts/e4.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Tom Berstely<br>language: English</p>
                <h3>Price:Rs 1560 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Schooling in capitalist america</h1>
            <img src="{% static 'accounts/e5.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Samuel Bowles<br>language: English</p>
                <h3>Price:Rs 500 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The process of Education</h1>
            <img src="{% static 'accounts/e6.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Jerome Bruner<br>language: English</p>
                <h3>Price:Rs 2100 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">The Dangerous Rise of Therapeutic Education</h1>
            <img src="{% static 'accounts/e7.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Kathryn & Dennis<br>language: English</p>
                <h3>Price:Rs 700 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Marva Collins' way</h1>
            <img src="{% static 'accounts/e8.jpg' %}" alt="image" />
            <div class="product_info">
                <p>Collins & Civia<br>language: English</p>
                <h3>Price:Rs 583 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">You haven't taught until they have learned</h1>
            <img src="{% static 'accounts/e9.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Swen & Ronald<br>language: English</p>
                <h3>Price:Rs 1486 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">What Connected Educators Do Differently</h1>
            <img src="{% static 'accounts/e10.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Todd,Jimmy & Jeffrey<br>language: English</p>
                <h3>Price:Rs 1600 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">How we Learn</h1>
            <img src="{% static 'accounts/e11.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Benedict Carey<br>language: English</p>
                <h3>Price:Rs 217 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Mindset</h1>
            <img src="{% static 'accounts/e12.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Carol<br>language: English</p>
                <h3>Price:Rs 213 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">How children fail</h1>
            <img src="{% static 'accounts/e13.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By John Holt<br>language: English</p>
                <h3>Price:Rs 790 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Role of the teacher</h1>
            <img src="{% static 'accounts/e14.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Hoyle,Eric <br>language: English</p>
                <h3>Price:Rs 300 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Death of Character</h1>
            <img src="{% static 'accounts/e15.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By James Davison Hunter<br>language: English</p>
                <h3>Price:Rs 600 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Deschooling Society</h1>
            <img src="{% static 'accounts/e16.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Ivan Illich<br>language: English</p>
                <h3>Price:Rs 800 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Some thoughts Concerning Education</h1>
            <img src="{% static 'accounts/e17.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Dover<br>language: English</p>
                <h3>Price:Rs 500 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">An Experiment in Education</h1>
            <img src="{% static 'accounts/e18.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Sybil Marshall <br>language: English</p>
                <h3>Price:Rs 400 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Idea of a University</h1>
            <img src="{% static 'accounts/e19.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By John Henry Newmann<br>language: English</p>
                <h3>Price:Rs 600 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The voice of liberal Learning</h1>
            <img src="{% static 'accounts/e20.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Michael Oakeshott<br>language: English</p>
                <h3>Price:Rs 1000 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

    </div>
    <script src="{% static 'jslink.js' %}">
    </script>
</body>

</html>