{% load static %}
<html>

<head>
    <link href="{% static 'accounts/templatemo_style.css'%}" rel="stylesheet" type="text/css" />

    <script src="{% static 'accounts/jslink.js' %}">
    </script>
</head>

<body>
    <svg height="130" width="500">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(7,13,96);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(40,149,211);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
  <text fill="orange" font-size="45" font-family="Verdana" 
  x="50" y="86">BookManiac!!</text>
</svg>
    <br>
    <br>

    <div class="topnav">

        <p><b><i>Category:Comics & Fictional</b></i>
        </p>

        <a href="1.html" style="float:right;"><u>Back home</u></a>
        <a href="{% url 'cart' %}" style="float:right;"><u>Cart</u></a>
    </div>



    <div id="templatemo_content_right">
        <div class="cleaner_with_width">&nbsp;</div>

        <div class="cleaner_with_height">&nbsp;</div>



        <div class="templatemo_product_box">
            <h1 class="hh1">Sofie Laguna</h1>
            <img src="{% static 'accounts/fiction1.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By The Choke <br>language:English</p>
                <h3>Price:Rs 450</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Art Boss</h1>
            <img src="{% static 'accounts/fiction2.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Kayla Cagan<br>language:English</p>
                <h3>Price:Rs 485 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Harry Potter Series</h1>
            <img src="{% static 'accounts/fiction3.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By JK Rowling<br>language: English</p>
                <h3>Price:Rs 2000 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">The keeper of lost things</h1>
            <img src="{% static 'accounts/fiction4.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Ruth Hogan<br>language: English</p>
                <h3>Price:Rs 350 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Our impossible love</h1>
            <img src="{% static 'accounts/fiction5.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Durjoy Datta<br>language: English</p>
                <h3>Price:Rs 355 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The world according to spiderman</h1>
            <img src="{% static 'accounts/fiction6.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Daniel Wallace<br>language: English</p>
                <h3>Price:Rs 355 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_height">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1 class="hh1">Playing it my way</h1>
            <img src="{% static 'accounts/d34.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Sachin Tendulkar<br>language:English</p>
                <h3>Price:Rs 276 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Elon Musk</h1>
            <img src="{% static 'accounts/d35.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Ashlee Vance<br>language:English</p>
                <h3>Price:Rs 392 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The love for Physics</h1>
            <img src="{% static 'accounts/d36.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Walter Lewin<br>language:English</p>
                <h3>Price:Rs 311 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Long walk to freedom</h1>
            <img src="{% static 'accounts/d37.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Nelson Mandela<br>language:English</p>
                <h3>Price:Rs 409 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Ashoka</h1>
            <img src="{% static 'accounts/d38.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Charles Alen<br>language:English</p>
                <h3>Price:Rs 342 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">How children fail</h1>
            <img src="{% static 'accounts/e13.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By John Holt<br>language: English</p>
                <h3>Price:Rs 790 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Jungle</h1>
            <img id="z" src="{% static 'accounts/a17.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Clive Cussler & Jack Du Brul<br>language: English</p>
                <h3>Price:Rs 330 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Temple</h1>
            <img id="z" src="{% static 'accounts/a18.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Matthew Reilly <br>language: English</p>
                <h3>Price:Rs 360 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Room on the roof</h1>
            <img id="z" src="{% static 'accounts/a19.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Ruskin Bond<br>language: English</p>
                <h3>Price:Rs 224 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Jungle Book</h1>
            <img id="z" src="{% static 'accounts/a20.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Rudyard Kipling<br>language: English</p>
                <h3>Price:Rs 998 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Without Fear</h1>
            <img src="{% static 'accounts/d39.jpg' %}" alt="image" />
            <div class="product_info">
                <p>by Kuldip Nayar<br>language:English</p>
                <h3>Price:Rs 186 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>




    </div>
    <script src="{% static 'jslink.js' %}">
    </script>
</body>

</html>