{% load static %}
<html>

<head>
    <link href="{% static 'accounts/templatemo_style.css'%}" rel="stylesheet" type="text/css" />

    <script src="{% static 'accounts/jslink.js' %}">
    </script>
</head>

<body>
    <svg height="130" width="500">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(7,13,96);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(40,149,211);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
  <text fill="orange" font-size="45" font-family="Verdana" 
  x="50" y="86">BookManiac!!</text>
</svg>
    <br>
    <br>

    <div class="topnav">

        <p><b><i>Category:History</b></i>
        </p>

        <a href="1.html" style="float:right;"><u>Back home</u></a>
        <a href="{% url 'cart' %}" style="float:right;"><u>Cart</u></a>
    </div>



    <div id="templatemo_content_right">
        <div class="cleaner_with_width">&nbsp;</div>

        <div class="cleaner_with_height">&nbsp;</div>



        <div class="templatemo_product_box">
            <h1 class="hh1">Guns,Germs & Steels</h1>
            <img src="{% static 'accounts/h1.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Jared Diamond <br>language:English</p>
                <h3>Price:Rs 477</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">A people's history of the US</h1>
            <img src="{% static 'accounts/h2.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Zinn<br>language:English</p>
                <h3>Price:Rs 1075</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Sapiens</h1>
            <img src="{% static 'accounts/h3.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Yuval Noah Harari<br>language: English</p>
                <h3>Price:Rs 280</h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">The Wonder that was India</h1>
            <img src="{% static 'accounts/h4.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Arthur L B<br>language: English</p>
                <h3>Price:Rs 425 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Discovery of India</h1>
            <img src="{% static 'accounts/h5.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Jawaharlal Nehru<br>language: English</p>
                <h3>Price:Rs 579 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Guns of August</h1>
            <img src="{% static 'accounts/h6.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Barbara W T<br>language: English</p>
                <h3>Price:Rs 301 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">The Civil War</h1>
            <img src="{% static 'accounts/h7.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Shelby Foote<br>language: English</p>
                <h3>Price:Rs 1500 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Band of Brothers</h1>
            <img src="{% static 'accounts/h8.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Stephen & Ambrose<br>language: English</p>
                <h3>Price:Rs 450 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">A people's tragedy</h1>
            <img src="{% static 'accounts/h9.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Orland Figes<br>language: English</p>
                <h3>Price:Rs 1750 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1 class="hh1">India:A History</h1>
            <img src="{% static 'accounts/h10.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By John Keay<br>language: English</p>
                <h3>Price:Rs 583 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Catch-22</h1>
            <img src="{% static 'accounts/h11.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Joseph Heller<br>language: English</p>
                <h3>Price:Rs 2042 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Last Mughal</h1>
            <img src="{% static 'accounts/h12.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By William Dalrymple<br>language: English</p>
                <h3>Price:Rs 510 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Art of War</h1>
            <img src="{% static 'accounts/h13.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Thomas Cleary<br>language: English</p>
                <h3>Price:Rs 153 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Modern India</h1>
            <img src="{% static 'accounts/h14.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By William Eleroy Curtis<br>language: English</p>
                <h3>Price:Rs 350 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Postwar:A history of Europe Since 1945</h1>
            <img src="{% static 'accounts/h15.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Tony Judt<br>language: English</p>
                <h3>Price:Rs 339 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Age of revolution</h1>
            <img src="{% static 'accounts/h16.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Eric Hobsbawm<br>language: English</p>
                <h3>Price:Rs 338 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">The Imperial Cruise</h1>
            <img src="{% static 'accounts/h17.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By James Bradley<br>language: English</p>
                <h3>Price:Rs 270 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Mastering Modern History</h1>
            <img src="{% static 'accounts/h18.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Norman Lowe<br>language: English</p>
                <h3>Price:Rs 400 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Late Victorian Holocausts</h1>
            <img src="{% static 'accounts/h19.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Mike Davis<br>language: English</p>
                <h3>Price:Rs 2000 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

        <div class="cleaner_with_width">&nbsp;</div>
        <div class="templatemo_product_box">
            <h1 class="hh1">Hitler's war in the east</h1>
            <img src="{% static 'accounts/h20.jpg' %}" alt="image" />
            <div class="product_info">
                <p>By Gerd<br>language: English</p>
                <h3>Price:Rs 500 </h3>
                <div class="cart" style="display:inline;"><button class="buton">Add to cart</button></div>&nbsp;
                <div class="quantity">quantity&nbsp;&nbsp<input name="quantity" class="quant" type="number" max="100" min="1" placeholder="1"></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>

    </div>
    <script src="{% static 'jslink.js' %}">
    </script>
</body>

</html>